.titulo {
  margin-top: 30px;
  font-family: "Libre Caslon Text", serif;
  font-weight: 700;
  margin-left: 30px; 
  margin-right: 20px; 
  margin-bottom: 5px; 
}

.frase {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  margin-left: 30px; 
  margin-right: 20px;
  margin-bottom: 5px; 
  margin-top: 0px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin-top: 10px;
  margin-right: 30px;
}

.text-container {
  margin: 0;
}

.social-icons {
  display: flex;
  gap: 25px;
}

.social-icons a {
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #FF9494;
}

.navbar {
  position: sticky; 
  top: 0; 
  width: 100%; 
  background-color: white; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-right: 20px;
  padding-left: 20px; 
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-nav {
  display: flex; 
  align-items: center; 
}

.navbar-nav.me-auto .nav-link {
  font-family: "Rubik", sans-serif;
  font-weight: 500; 
  font-optical-sizing: auto;
  font-size: 15px;
  color: black;
  margin-right: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 0; 
}

.navbar-nav.me-auto .nav-link:hover {
  color: #FFD1D1; 
}

.navbar-nav.me-auto .nav-link.active {
  color: #FFD1D1; 
  font-weight: 500; 
}

.navbar-nav.ms-auto .nav-link {
  font-family: "Rubik", sans-serif;
  font-weight: 400; 
  font-optical-sizing: auto;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.473);
  margin-right: 30px;
  text-decoration: none;
  transition: color 0.3s ease;
  }

.navbar-nav.ms-auto .nav-link:hover {
  color: rgba(0, 0, 0, 0.8); 
}

.navbar-nav.ms-auto .nav-link.active {
  color: black; 
  font-weight: 400; 
}

.image-container {
  margin: 30px; 
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap; 
}

.image-wrapper {
  position: relative; 
  flex: 1 1 calc(25% - 20px); 
  max-width: 400px; 
  margin: 10px; 
  height: auto; 
}

.image-container img {
  width: 100%; 
  border-radius: 8px; 
  height: 100%; 
  object-fit: cover; 
}

.image-wrapper .hover {
  position: absolute; 
  top: 0;
  left: 0;
  opacity: 0; 
  transition: opacity 0.3s; 
}

.image-wrapper:hover .hover {
  opacity: 1; 
}

.image-wrapper:hover .original {
  opacity: 0; 
}

@media (max-width: 768px) {
  .image-wrapper {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .image-wrapper {
    flex: 1 1 100%; 
  }
}

.about-us-container {
  width: 100%; 
  background-color: #FFF5E4; 
  padding:  0; 
  margin-top: 90px;
}
.about-us{
  margin-bottom: 20px;
  font-family: "Libre Caslon Text", serif;
  font-weight: 600;
}

.container-about-us {
  max-width: 1200px; 
  margin: 0 auto; 
}

p {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 15px; 
  margin-bottom: 10px; 
  padding-left: 0px; 
  padding-right: 20px; 
  text-align: justify;
}

@media (max-width: 768px) {
  .about-us-img {
    max-width: 100%; 
    height: auto; 
  }
}

.about-us-img {
  width: 400px; 
  height: 430px; 
  object-fit: cover; 
  border-radius: 8px; 
}

.image-row {
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  padding-left: 0px; 
  padding-right: 0px; 
  padding-top: 60px;
}

.image-item {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  margin: 10px; /
}
.image-item:hover {
  transform: scale(1.05); 
}

.circle-img {
  width: 150px; 
  height: 150px; 
  object-fit: cover; 
  border-radius: 50%; 
  border: 2px solid #dddddd49; 
}

.image-item a {
  text-decoration: none; 
  color: black; 
}

.image-text {
  margin-top: 8px;
  font-family: "Rubik", sans-serif; 
  font-size: 16px; 
  color: black; 
  text-align: center; 
  padding-right: 9px;
  margin-bottom: 100px;
}

/*PÁGINA RECETAS*/
body {
  font-family: 'Rubik', sans-serif;
}

.container {
  max-width: 1200px; 
  margin: auto; 
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.card-body p{
  color: #000000;
  text-align: center;
  font-family: "Rubik", sans-serif; 

}

.card:hover {
  transform: translateY(-5px);
}

.circle-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 20px auto;
}

.card-title {
  font-family: "Libre Caslon Text", serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #000000;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

/*RECETA*/
.chococookie-image {
  max-width: 100%;
  border-radius: 10px;
}

.recipe-info {
  padding: 20px;
}

.chocochips-titulo {
  font-family: "Libre Caslon Text", serif;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 30px;
}

.chocochips-desc {
  font-family: "Rubik", sans-serif; 
  text-align: justify; 
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-size: 25px; 
  color: #000000; 
}

.chococookies-card {
  background-color: #FFE3E1; 
  border-radius: 0.5rem; 
}
.chococookies-card p{
  color: #000000;
}
.chococookies-card h6{
  color: #000000;
}

.chococookies-card:hover {
  transform: none;
}

.chococookies-card .min {
  font-weight: 300; 
  font-size: 15px; 
  margin-top: 10px; 
}

.chococookies-card p {
  margin-top: 5px; 
  margin-left: 9px;
  font-size: 15px;
  text-align: center;
}

.container {
  padding-top: 0px; 
}

.row {
  margin-top: 20px; 
}

.chococookies-ingredientes {
  margin-top: 0px; 
  margin-left: 85px;
}

.chococookies-procedimiento {
  margin-top: 0px; 
  margin-right: 90px;
}

.chococookies-procedimiento ol li {
  padding-bottom: 20px; 
}

.chococookies-ingredientes .card-body,
.chococookies-procedimiento .card-body {
  padding: 20px; 
}

.card-title {
  font-weight: bold; 
  padding-bottom: 10px;
}

.chococookies-ingredientes iframe {
  margin-left: 15px;
  margin-bottom: 20px;
}

.check{
 padding: 20px;
 color: #FF9494;
 font-family: "Libre Caslon Text", serif;
 font-weight: 600;
 font-size: 20px;
 text-align: center;
}

a {
  text-decoration: none; 
  color: inherit; 
}

.opiniones {
  background-color: white; 
  padding: 20px; 
  border-radius: 0; 
  margin: 20px auto; 
  width: 60%;
  margin-bottom: 100px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000000; 
  border-radius: 50%; 
}

.opiniones-item h5 {
  font-family: "Libre Caslon Text", serif; 
  font-weight: 600;
  color: #000000;
  margin-bottom: 10px; 
}
  
.opiniones-titulo{
  color: #000000; 
  font-family: "Libre Caslon Text", serif; 
  font-size: 2rem; 
  font-weight: 600;
  text-align: center;

}

.opiniones-item p {
  font-family: "Rubik", sans-serif; 
  color: #000000; 
  line-height: 1.5; 
  text-align: center; 
  max-width: 600px; 
  margin: 0 auto; 
}


/* NOTICIAS */
.noticias-container {
  background-color: #FFF5E4; 
  padding: 20px; 
  border-radius: 0; 
  box-shadow: none; 
  width: 100%; 
  position: relative; 
  left: 0; 
}

.noticia-card {
  background-color: #ffffff; 
  border-radius: 8px; 
  padding: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%; 
}

.noticia-card img {
  border-radius: 8px; 
  width: 100%; 
  height: auto; 
}

.noticias-container h2 {
  color: #000000; 
  font-size: 2rem; 
  font-family: "Libre Caslon Text", serif;
  font-weight: 600;
}

.noticias-container h4 {
  font-size: 22px;
  color: #000000; 
  margin-top: 10px; 
  font-family: "Libre Caslon Text", serif;
  font-weight: 600;
  text-align: center;
}

.noticias-container p {
  font-family: "Rubik", sans-serif; 
  color: #000000;
  line-height: 1.5; 
  text-align: justify;
}

.noticias-container .row {
  margin-bottom: 20px; 
}

.contactanos {
  padding: 40px 0;
}

.contactanos h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333; 
}

.contactanos .form-control {
  border-radius: 0.25rem; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contactanos .form-label {
  font-weight: bold; 
}

.contactanos .btn-primary {
  background-color: #FF9494; 
  border: none; 
  border-radius: 0.25rem; 
  transition: background-color 0.3s ease; 
}

.contactanos .btn-primary:hover {
  background-color: #FF9494; 
}

.contactanos iframe {
  border: 0; 
  border-radius: 0.25rem; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.contactanos .flex-container {
  display: flex; 
  justify-content: space-between; 
  flex-wrap: wrap; 
  margin: 0 -15px;
}

.contactanos .contacto,
.contactanos .visitanos {
  flex: 1;
  margin: 15px; 
  min-width: 300px;
}

.contactanos p {
  text-align: center; 
  margin: 0 0 20px; 
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.button-container {
  display: flex;               
  justify-content: right;      
  margin-top: 0px; 
}

#politicasBtn {
  padding: 8px 10px;          
  font-size: 12px;             
  border: none;               
  border-radius: 5px;       
  background-color: #ffffffd0; 
  color: #000000;               
  cursor: pointer;     
}

footer {
  background-color: #343a40; 
  color: #ffffff; 
  padding: 20px ; 
  font-family: 'Rubik', sans-serif; 
}

footer p {
  margin-top: 5px; 
  font-size: 14px; 
  text-align: center;
}

footer span {
  color: #ff9494; 
}

body.dark-mode {
  background-color: #281d1f;
  color: #ffffff;
}
.dark-mode .header-container,
.dark-mode .text-container,
.dark-mode .image-container,
.dark-mode .card,
.dark-mode .footer
.dark-mode h2,
.dark-mode h4 {
  color: #ffffff; 
  border-color: #333; 
}
.dark-mode .noticias-container {
  background-color: #583437; 
  color: white; 
}
.dark-mode .about-us{
  color: white;
}
.dark-mode .about-us-container{
  background-color: #583437;
}
.dark-mode .container-about-us{
  background-color: #583437;
}
.dark-mode footer{
  background-color: #583437;
}
.dark-mode container-footer{
  background-color: #583437;
}
.dark-mode .image-text{
  color: white;
}
.dark-mode .noticias-container .text-center,
.container .text-center{
  color: white;
}
.dark-mode .noticia-card{
  background-color: #281d1f;
}
.dark-mode .noticia-card p{
  color: white;
}
.dark-mode .visitanos h2{
  color: white;
}
.dark-mode .contactanos h2{
  color: white;
}
.dark-mode .opiniones{
  background-color: #281d1f;
}
.dark-mode .opiniones-item h5{
  color: white;
}
.dark-mode .opiniones-item p{
  color: white;
}

.dark-mode .opiniones-titulo{
  color: white;
}

.dark-mode .carousel-control-prev-icon,
.carousel-control-next-icon{
  background-color: #583437;
}
.dark-mode .btn-primary{
  background-color: #583437;
}
.dark-mode #politicasBtn {
  background-color: #281d1f;
  color: white;
}
.dark-mode .navbar {
  background-color: #281d1f; 
}
.dark-mode .navbar-nav.me-auto .nav-link {
  color: #ffffff; 
}
.dark-mode .navbar-nav.ms-auto .nav-link {
  color: #ffffff; 
}
.dark-mode .navbar-nav.me-auto .nav-link:hover {
  color: #cf9898; 
}
.dark-mode .navbar-nav.ms-auto .nav-link:hover {
  color: #cf9898; 
}
.dark-mode .navbar-toggler {
  background-color: #ffffff; 
}
.dark-mode .navbar-toggler-icon {
  background-color: #ffffff; 
}
.dark-mode .container{
  background-color: #281d1f; 
}
.dark-mode .card{
  background-color: #583437;
}
.dark-mode .card-body p{
  color: #ffffff;
}
.dark-mode .social-icons a i {
  color: #ffffff;}
.dark-mode .social-icons a i:hover{
  color: #cf9898;}

.dark-mode .card {
  background-color: #583437;
  color: #f5f5f5;

}
.dark-mode .card-title {
  color: #ffffff;
}
.dark-mode .card img {
  border-color: #583437;
  opacity: 0.9; 
}
.dark-mode .card:hover img {
  opacity: 1;
}
.dark-mode .chocochips-titulo{
  color: white;
}
.dark-mode .chococookies-ingredientes h6{
  color: white;
}
.dark-mode .chococookies-card p{
  color: white;
}
.dark-mode .chococookies-card h6{
  color: white;
}
.dark-mode .material-symbols-outlined{
  color: white;
}
.dark-mode .modal-content{
  background-color: #281d1f;
  color: white;
  border: #281d1f;
}
